.cable-spool {
  color: white;
  background: url("./Spool.png") #555f81;
  background-size: contain;
  background-position: center;
  background-size: 80%;
  border-radius: 10px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.cable-spool.selected {
  outline: 3px solid orange;
}
