.App {
  display: grid;
  grid-template-columns: 1fr 0px;
  grid-template-rows: 1fr 100px;
  grid-template-areas:
    "grid item-editor"
    "toolbox item-editor";
}

.App.showItemEditor {
  grid-template-columns: 2fr 1fr;
}

.grid-container {
  grid-area: grid;
}

.toolbox {
  grid-area: toolbox;
}

.item-editor {
  grid-area: item-editor;
}
